<div class="container d-flex flex-row">
	<div class="d-flex flex-column">
		<div>B</div>
		<div [ngClass]="{ 'border': indices[0] }">{{indices[0]}}</div>
		<div [ngClass]="{ 'border': indices[1] }">{{indices[1]}}</div>
		<div [ngClass]="{ 'border': indices[2] }">{{indices[2]}}</div>
		<div [ngClass]="{ 'border': indices[3] }">{{indices[3]}}</div>
    <div [ngClass]="{ 'border': indices[4] }">{{indices[4]}}</div>
	</div>
	<div class="d-flex flex-column">
		<div>I</div>
		<div [ngClass]="{ 'border': indices[5] }">{{indices[5]}}</div>
		<div [ngClass]="{ 'border': indices[6] }">{{indices[6]}}</div>
		<div [ngClass]="{ 'border': indices[7] }">{{indices[7]}}</div>
		<div [ngClass]="{ 'border': indices[8] }">{{indices[8]}}</div>
    <div [ngClass]="{ 'border': indices[9] }">{{indices[9]}}</div>
	</div>
  <div class="d-flex flex-column">
		<div>N</div>
		<div [ngClass]="{ 'border': indices[10] }">{{indices[10]}}</div>
		<div [ngClass]="{ 'border': indices[11] }">{{indices[11]}}</div>
		<div [ngClass]="{ 'border': indices[12] }">{{indices[12]}}</div>
		<div [ngClass]="{ 'border': indices[13] }">{{indices[13]}}</div>
    <div [ngClass]="{ 'border': indices[14] }">{{indices[14]}}</div>
	</div>
  <div class="d-flex flex-column">
		<div>G</div>
		<div [ngClass]="{ 'border': indices[15] }">{{indices[15]}}</div>
		<div [ngClass]="{ 'border': indices[16] }">{{indices[16]}}</div>
		<div [ngClass]="{ 'border': indices[17] }">{{indices[17]}}</div>
		<div [ngClass]="{ 'border': indices[118] }">{{indices[18]}}</div>
    <div [ngClass]="{ 'border': indices[19] }">{{indices[19]}}</div>
	</div>
  <div class="d-flex flex-column">
		<div>O</div>
		<div [ngClass]="{ 'border': indices[20] }">{{indices[20]}}</div>
		<div [ngClass]="{ 'border': indices[21] }">{{indices[21]}}</div>
	  <div [ngClass]="{ 'border': indices[22] }">{{indices[22]}}</div>
		<div [ngClass]="{ 'border': indices[23] }">{{indices[23]}}</div>
    <div [ngClass]="{ 'border': indices[24] }">{{indices[24]}}</div>
	</div>
</div>