<div class="fluid-container d-flex flex-column border rounded">
  <div class="flex-fill d-flex flex-row border rounded">
    <div class="flex-fill border rounded">
      Sorteo: {{idSorteo}}  
    </div>
    <div class="flex-fill border rounded">
      Orden de salida: {{len}}
    </div>
     
  </div>
  <div class="flex-fill row border rounded">
    
      <div class = "col-4 border  rounded">{{ultima}}</div>
      <div class = "col-8 d-flex flex-column border  rounded">
        <div class="d-flex flex-column border  rounded">
          <div class="flex-fill  border  rounded">
            Ultimas 5 balotas
          </div>
          <div clss="flex-fill d-flex flex-row  border rounded">
            <div class="flex-fill  border rounded">{{ultima1}}</div>
            <div class="flex-fill  border rounded">{{ultima2}}</div>
            <div class="flex-fill  border rounded">{{ultima3}}</div>
            <div class="flex-fill  border rounded">{{ultima4}}</div>
          </div>
        </div>
        
      </div>
    
  </div>

</div>